Taller: Adquisición, procesamiento y visualización de datos (Importar Archivo)

In [ ]:
#importaciones
import pandas as pd

# Ruta al archivo Excel
ruta_excel = r"C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\Online_Retail.xlsx"

# Leer el archivo Excel
try:
    df = pd.read_excel(ruta_excel)
    print("Archivo cargado correctamente:")
    print(df.head())
except FileNotFoundError:
    print("Error: No se encontró el archivo en la ruta especificada.")
except Exception as e:
    print(f"Ocurrió un error al leer el archivo: {e}")

Archivo cargado correctamente:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

Limpieza de Datos

In [5]:
df = pd.read_excel(ruta_excel) 
## 1. Exploración inicial
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [9]:
# Limpieza de datos en un DataFrame de pandas

import pandas as pd
df = pd.read_excel(ruta_excel)

## 1. Exploración inicial
print("Información del DataFrame:")
print(df.info())

print("\nPrimeras filas:")
print(df.head())

print("\nEstadísticas descriptivas:")
print(df.describe(include='all'))

## 2. Manejo de valores faltantes
# Opciones para tratar NaN:
# a) Eliminar filas con valores faltantes
df_clean = df.dropna()
# Eliminar filas donde TODAS las columnas son NaN
df = df.dropna(how='all')
# Eliminar filas donde ALGUNA columna tiene NaN (más común)
df = df.dropna()
# Eliminar filas donde NaN aparece en columnas específicas
columnas_relevantes = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'Country']
df = df.dropna(subset=columnas_relevantes)

# b) Rellenar con valor específico (ej. 0 o 'Desconocido')
df_filled = df.fillna({
    'Quantity': 0,
    'Country': 'Desconocido'
})

# c) Rellenar con la media o mediana (para columnas numéricas)
df['UnitPrice'] = df['UnitPrice'].fillna(df['UnitPrice'].mean())
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mean())

# d) Rellenar con la moda (para columnas categóricas)   
df['Country'] = df['Country'].fillna(df['Country'].mode()[0])

## 4. Eliminar filas duplicadas
df = df.drop_duplicates()

## 5. Normalización de texto
# a) Convertir a minúsculas
df['Description'] = df['Description'].str.lower()

# b) Eliminar espacios en blanco
df['Description'] = df['Description'].str.strip()

## 6. Corrección de tipos de datos
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')

## 7. Filtrado de outliers (para columnas numéricas)
Q1 = df['Quantity'].quantile(0.25)
Q3 = df['UnitPrice'].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df['Quantity'] < (Q1 - 1.5 * IQR)) | 
          (df['UnitPrice'] > (Q3 + 1.5 * IQR)))]

# Crear la nueva columna 'TotalPrice'
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

## 8. Guardar el DataFrame limpio
ruta_salida = r"C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\archivo_limpio_09_04_2025.xlsx"
df.to_excel(ruta_salida, index=False)

print("\n¡Limpieza completada! Archivo guardado en:", ruta_salida)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

Primeras filas:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

Estadísticas descriptivas:
        InvoiceNo StockCode                         Description  \
count    541909.0    541909                              540455
unique    25900.0      4070                                4223
top      573585.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq       1114.0      2313                                2369
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   541909.000000                         541909  541909.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean         9.552250  2011-07-04 13:34:57.156386048       4.611114
min     -80995.000000            2010-12-01 08:26:00  -11062.060000
25%          1.000000            2011-03-28 11:34:00       1.250000
50%          3.000000            2011-07-19 17:17:00       2.080000
75%         10.000000            2011-10-19 11:27:00       4.130000
max      80995.000000            2011-12-09 12:50:00   38970.000000
std        218.081158                            NaN      96.759853

           CustomerID         Country
count   406829.000000          541909
unique            NaN              38
top               NaN  United Kingdom
freq              NaN          495478
mean     15287.690570             NaN
min      12346.000000             NaN
25%      13953.000000             NaN
50%      15152.000000             NaN
75%      16791.000000             NaN
max      18287.000000             NaN
std       1713.600303             NaN

¡Limpieza completada! Archivo guardado en: C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\archivo_limpio_09_04_2025.xlsx