Taller: Adquisición, procesamiento y visualización de datos (Importar Archivo)

In [1]:
#importaciones
import pandas as pd

# Ruta al archivo Excel
ruta_excel = r"C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\Online_Retail.xlsx"

# Leer el archivo Excel
try:
    df = pd.read_excel(ruta_excel)
    print("Archivo cargado correctamente:")
    print(df.head())
except FileNotFoundError:
    print("Error: No se encontró el archivo en la ruta especificada.")
except Exception as e:
    print(f"Ocurrió un error al leer el archivo: {e}")

Archivo cargado correctamente:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

Limpieza de Datos

In [2]:
df = pd.read_excel(ruta_excel) 
## 1. Exploración inicial
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [ ]:
# Limpieza de datos en un DataFrame de pandas

import pandas as pd
df = pd.read_excel(ruta_excel)

## 1. Exploración inicial
print("Información del DataFrame:")
print(df.info())

print("\nPrimeras filas:")
print(df.head())

print("\nEstadísticas descriptivas:")
print(df.describe(include='all'))

## 2. Manejo de valores faltantes
# Opciones para tratar NaN:
# a) Eliminar filas con valores faltantes
df_clean = df.dropna()
# Eliminar filas donde TODAS las columnas son NaN
df = df.dropna(how='all')
# Eliminar filas donde ALGUNA columna tiene NaN (más común)
df = df.dropna()
# Eliminar filas donde NaN aparece en columnas específicas
columnas_relevantes = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'Country']
df = df.dropna(subset=columnas_relevantes)

# b) Rellenar con valor específico (ej. 0 o 'Desconocido')
df_filled = df.fillna({
    'Quantity': 0,
    'Country': 'Desconocido'
})

# c) Rellenar con la media o mediana (para columnas numéricas)
df['UnitPrice'] = df['UnitPrice'].fillna(df['UnitPrice'].mean())
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mean())

# d) Rellenar con la moda (para columnas categóricas)   
df['Country'] = df['Country'].fillna(df['Country'].mode()[0])

## 4. Eliminar filas duplicadas
df = df.drop_duplicates()

## 5. Normalización de texto
# a) Convertir a minúsculas
df['Description'] = df['Description'].str.lower()

# b) Eliminar espacios en blanco
df['Description'] = df['Description'].str.strip()

## 6. Corrección de tipos de datos
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')

## 7. Filtrado de outliers (para columnas numéricas)
Q1 = df['Quantity'].quantile(0.25)
Q3 = df['UnitPrice'].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df['Quantity'] < (Q1 - 1.5 * IQR)) | 
          (df['UnitPrice'] > (Q3 + 1.5 * IQR)))]

# Crear la nueva columna 'TotalPrice'
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

## 8. Guardar el DataFrame limpio
ruta_salida = r"C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\archivo_limpio_09_04_2025.xlsx"
df.to_excel(ruta_salida, index=False)

print("\n¡Limpieza completada! Archivo guardado en:", ruta_salida)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

Primeras filas:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

Estadísticas descriptivas:
        InvoiceNo StockCode                         Description  \
count    541909.0    541909                              540455
unique    25900.0      4070                                4223
top      573585.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq       1114.0      2313                                2369
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   541909.000000                         541909  541909.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean         9.552250  2011-07-04 13:34:57.156386048       4.611114
min     -80995.000000            2010-12-01 08:26:00  -11062.060000
25%          1.000000            2011-03-28 11:34:00       1.250000
50%          3.000000            2011-07-19 17:17:00       2.080000
75%         10.000000            2011-10-19 11:27:00       4.130000
max      80995.000000            2011-12-09 12:50:00   38970.000000
std        218.081158                            NaN      96.759853

           CustomerID         Country
count   406829.000000          541909
unique            NaN              38
top               NaN  United Kingdom
freq              NaN          495478
mean     15287.690570             NaN
min      12346.000000             NaN
25%      13953.000000             NaN
50%      15152.000000             NaN
75%      16791.000000             NaN
max      18287.000000             NaN
std       1713.600303             NaN

¡Limpieza completada! Archivo guardado en: C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\archivo_limpio_09_04_2025.xlsx

Imprimir Cabecera prueba Datos Depurados

In [9]:
# Exploración del DataFrame 
print(df.head())
print(df.info())
print(df.describe(include='all'))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   white hanging heart t-light holder         6
1    536365     71053                  white metal lantern         6
2    536365    84406B       cream cupid hearts coat hanger         8
3    536365    84029G  knitted union flag hot water bottle         6
4    536365    84029E       red woolly hottie white heart.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
<class 'pandas.core.frame.DataFrame'>
Index: 353527 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    353527 non-null  object
 1   StockCode    353527 non-null  object
 2   Description  353527 non-null  object
 3   Quantity     353527 non-null  int64
 4   InvoiceDate  353527 non-null  datetime64[ns]
 5   UnitPrice    353527 non-null  float64
 6   CustomerID   353527 non-null  float64
 7   Country      353527 non-null  object
 8   TotalPrice   353527 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 27.0+ MB
None
        InvoiceNo StockCode                         Description  \
count    353527.0    353527                              353527
unique    18087.0      3346                                3519
top      576339.0    85123A  white hanging heart t-light holder
freq        431.0      2023                                2016
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   353527.000000                         353527  353527.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean        14.213121  2011-07-12 06:56:03.084460288       2.066882
min          1.000000            2010-12-01 08:26:00       0.000000
25%          2.000000            2011-04-08 09:58:00       0.850000
50%          6.000000            2011-08-02 15:19:00       1.650000
75%         12.000000            2011-10-21 12:52:00       2.950000
max      80995.000000            2011-12-09 12:50:00       6.360000
std        191.326143                            NaN       1.433585

           CustomerID         Country     TotalPrice
count   353527.000000          353527  353527.000000
unique            NaN              37            NaN
top               NaN  United Kingdom            NaN
freq              NaN          315689            NaN
mean     15302.191456             NaN      20.933244
min      12346.000000             NaN       0.000000
25%      13969.000000             NaN       4.200000
50%      15184.000000             NaN      10.500000
75%      16806.000000             NaN      17.880000
max      18287.000000             NaN  168469.600000
std       1713.886419             NaN     318.751149

Carga Nuevo Data Frame Limpio

In [13]:
# Ruta al archivo Excel
ruta_excel_1 = r"C:\Users\Dc\Documents\Maestría_Data_Science\Fundamentos_Ciencia_Datos\Clase_09_04_2025\archivo_limpio_09_04_2025.xlsx"
df_1 = pd.read_excel(ruta_excel_1)

Lectura y Análisis Data Frame Ajustado(Curado)

In [14]:
# Exploración del DataFrame 
print(df_1.head())
print(df_1.info())
print(df_1.describe(include='all'))

   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   white hanging heart t-light holder         6
1     536365     71053                  white metal lantern         6
2     536365    84406B       cream cupid hearts coat hanger         8
3     536365    84029G  knitted union flag hot water bottle         6
4     536365    84029E       red woolly hottie white heart.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55       17850  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75       17850  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353527 entries, 0 to 353526
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    353527 non-null  int64
 1   StockCode    353527 non-null  object
 2   Description  353527 non-null  object
 3   Quantity     353527 non-null  int64
 4   InvoiceDate  353527 non-null  datetime64[ns]
 5   UnitPrice    353527 non-null  float64
 6   CustomerID   353527 non-null  int64
 7   Country      353527 non-null  object
 8   TotalPrice   353527 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 24.3+ MB
None
            InvoiceNo StockCode                         Description  \
count   353527.000000    353527                              353527
unique            NaN      3346                                3519
top               NaN    85123A  white hanging heart t-light holder
freq              NaN      2023                                2016
mean    560767.636195       NaN                                 NaN
min     536365.000000       NaN                                 NaN
25%     549317.000000       NaN                                 NaN
50%     562106.000000       NaN                                 NaN
75%     572215.000000       NaN                                 NaN
max     581587.000000       NaN                                 NaN
std      13091.857341       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   353527.000000                         353527  353527.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean        14.213121  2011-07-12 06:56:03.084460288       2.066882
min          1.000000            2010-12-01 08:26:00       0.000000
25%          2.000000            2011-04-08 09:58:00       0.850000
50%          6.000000            2011-08-02 15:19:00       1.650000
75%         12.000000            2011-10-21 12:52:00       2.950000
max      80995.000000            2011-12-09 12:50:00       6.360000
std        191.326143                            NaN       1.433585

           CustomerID         Country     TotalPrice
count   353527.000000          353527  353527.000000
unique            NaN              37            NaN
top               NaN  United Kingdom            NaN
freq              NaN          315689            NaN
mean     15302.191456             NaN      20.933244
min      12346.000000             NaN       0.000000
25%      13969.000000             NaN       4.200000
50%      15184.000000             NaN      10.500000
75%      16806.000000             NaN      17.880000
max      18287.000000             NaN  168469.600000
std       1713.886419             NaN     318.751149

Subir los Datos Limpio a SQL Lite

In [16]:
import sqlite3
import pandas as pd

# 1. Cargar tus datos limpios (ejemplo con CSV)
df_1 = pd.read_excel(ruta_excel_1)

# 2. Conectar a la base de datos SQLite (se crea si no existe)
conn = sqlite3.connect('mi_base_de_datos.db')

# 3. Subir el DataFrame a una nueva tabla
df.to_sql('Tabla_SQL_Datos_Limpio', conn, if_exists='replace', index=False)

# 4. Cerrar la conexión
conn.close()

Verificar Archivo SQL Lite

In [21]:
import sqlite3
import pandas as pd

# Conectar a la base de datos SQLite
conn = sqlite3.connect('mi_base_de_datos.db')

# Ejemplo 1: Consultar todos los datos de una tabla y mostrar los primeros registros
consulta_1 = "SELECT * FROM Tabla_SQL_Datos_Limpio LIMIT 5;"
resultados_1 = pd.read_sql_query(consulta_1, conn)
print(resultados_1)

# Ejemplo 2: Consulta específica (ajusta según tus necesidades)
consulta_2 = "SELECT Quantity, * FROM Tabla_SQL_Datos_Limpio WHERE UnitPrice<2.55;"
resultados_2 = pd.read_sql_query(consulta_2, conn)
print(resultados_2)

# Cerrar la conexión
conn.close()

   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   white hanging heart t-light holder         6
1     536365     71053                  white metal lantern         6
2     536365    84406B       cream cupid hearts coat hanger         8
3     536365    84029G  knitted union flag hot water bottle         6
4     536365    84029E       red woolly hottie white heart.         6

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
        Quantity  InvoiceNo StockCode                      Description  \
0              6     536366     22633           hand warmer union jack
1              6     536366     22632        hand warmer red polka dot
2             32     536367     84879    assorted colour bird ornament
3              6     536367     22745        poppy's playhouse bedroom
4              6     536367     22748        poppy's playhouse kitchen
...          ...        ...       ...                              ...
243726        12     581587     22555        plasters in tin strongman
243727         8     581587     22367  childrens apron spaceboy design
243728        12     581587     22629               spaceboy lunch box
243729        12     581587     22613      pack of 20 spaceboy napkins
243730         6     581587     22899      children's apron dolly girl

        Quantity          InvoiceDate  UnitPrice  CustomerID         Country  \
0              6  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
1              6  2010-12-01 08:28:00       1.85     17850.0  United Kingdom
2             32  2010-12-01 08:34:00       1.69     13047.0  United Kingdom
3              6  2010-12-01 08:34:00       2.10     13047.0  United Kingdom
4              6  2010-12-01 08:34:00       2.10     13047.0  United Kingdom
...          ...                  ...        ...         ...             ...
243726        12  2011-12-09 12:50:00       1.65     12680.0          France
243727         8  2011-12-09 12:50:00       1.95     12680.0          France
243728        12  2011-12-09 12:50:00       1.95     12680.0          France
243729        12  2011-12-09 12:50:00       0.85     12680.0          France
243730         6  2011-12-09 12:50:00       2.10     12680.0          France

        TotalPrice
0            11.10
1            11.10
2            54.08
3            12.60
4            12.60
...            ...
243726       19.80
243727       15.60
243728       23.40
243729       10.20
243730       12.60

[243731 rows x 10 columns]